@model aspnet_mongo.Models.User
<link href="~/css/users.css" rel="stylesheet" />

@{
    ViewData["Title"] = "TemTudo - Excluir Usuário";
}

<h1>Excluir</h1>

<h3>Você tem certeza que quer apagar?</h3>
<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image_url)
        </dt>
        <dd class="col-sm-10">
            <img class="image-user" src="~/assets/users/@Model.Image_url" alt="usuário" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Retornar</a>
    </form>
</div>
